.form {
  display: flex;
  flex-direction: column;
}

.form input:not(:last-child),
.form textArea:not(:last-child) {
  margin: 0 0 20px 0;
  border: 1px solid black;
}

.message {
  margin: 0 0 20px 0;
  color: green;
  font-weight: bold;
}
