.FilmCard {
  width: 264px;
  height: 400px;
  background-color: white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 12.5px 15px;
  overflow: hidden;
  position: relative;
}

.FilmCard > img {
  width: 264px;
  height: 400px;
}