.auth-section {
  padding: 80px 0;
  display: flex;
  flex: 1 1;

  &__container {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    padding: 40px 60px 20px;
    width: 100%;
    max-width: 520px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(#000, 0.2);
  }
}
