.profile-section {
  padding: 20px 0 160px;
}

.profile-about {
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__aside {
    margin: 0 120px 0 0;
    width: 200px;

    @media (max-width: 900px) {
      margin: 0 40px 0 0;
    }
  }

  &__content {
    flex: 1;

    h2 {
      margin: 0 0 20px;
      font-weight: 600;
      font-size: 1.6rem;
    }

    p {
      line-height: 1.4;
    }

    b {
      font-weight: 600;
    }
  }
}

.profile-info {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    margin: 0 0 20px;
    padding: 5px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
  }

  &__image {
    display: flex;
    height: auto;
    width: 100%;
    cursor: pointer;
  }

  &__name {
    margin: 0 0 20px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__logout {
    display: grid;
  }
}
