.profile {
  padding: 20px 0 60px;

  &__wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(#ccc, 0.4);
  }
}
