.wrapper {
  display: flex;
}

.title {
  margin: 0 0 10px 0;
  font-size: 1.25rem;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  padding: 0.929em 1.5em;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  color: #ffffff;
  background: #000000;
  background-color: black;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border 0.3s, box-shadow 0.3s;
}

.button:not(:last-child) {
  margin: 0 20px 0 0;
}

.button:hover {
  color: #000000;
  background-color: transparent;
  border-color: #000000;
}
