.profile-section {
  padding: 20px 0 160px;
}

.profile-about {
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__aside {
    margin: 0 120px 0 0;
    width: 200px;

    @include max-width($touch) {
      margin: 0 40px 0 0;
    }
  }
  &__content {
    flex: 1;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    margin: 0 0 20px 0;
    padding: 5px;
    width: 100%;
    background-color: $white;
    border: 1px solid $black;
  }
  &__image {
    display: flex;
    height: auto;
    width: 100%;
    cursor: pointer;
  }

   &__name {
     margin: 0 0 20px 0;
     font-weight: 600;
     font-size: 1.2rem;
   }

  &__logout {
    display: grid;
  }
}
