.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  white-space: nowrap;
  background-color: rgba($black, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &--active {
    opacity: 1;
    visibility: visible;

    .modal-body {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.modal-body {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  font-size: 1rem;
  text-align: left;
  white-space: normal;
  vertical-align: middle;
  background-color: $white;
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-top {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $gray;

  &__title {
    font-weight: bold;
    font-size: 1.75rem;
  }

  &__close-button {
    position: relative;
    height: 28px;
    min-height: 28px;
    width: 28px;
    min-width: 28px;
    color: $black;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 100%;
      background-color: currentColor;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.modal-content {
  padding: 20px;
}
