* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  color: #000;
  background-color: #f3f5f6;
}

a,
button,
input[type="submit"] {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1350px;
}

.page-title {
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 2.5rem;
}

.film-card-placeholder {
  margin: 10px;
  width: calc(25% - 20px);
  height: 470px;
  box-shadow: 1px 4px 4px rgba(#000, 0.25);

  @media (max-width: 1024px) {
    width: calc(33.3333% - 20px);
  }

  @media (max-width: 900px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 600px) {
    width: calc(100% - 20px);
    height: 780px;
  }
}