.footer {
  padding: 20px 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    &:hover {
      &__big-text,
      &__text {
        color: #a38a17;
      }
    }

    &__text,
    &__big-text {
      color: #000;
    }
  }
}

.copyright {
  text-align: right;

  &__bottom {
    font-weight: 500;
    font-size: 1.2rem;
    color: #a38a17;
  }
}
