.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;

  &:hover {
    &__svg {
      fill: #ffd700;
    }

    &__big-text,
    &__text {
      color: #ffd700;
    }
  }

  &__svg {
    margin: 0 10px 0 0;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
    fill: #fff;
    transition: fill 0.3s;

    @media (max-width: 1200px) {
      height: 40px;
      min-height: 40px;
      min-width: 40px;
      width: 40px;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  &__big-text {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.025em;
    transition: color 0.3s;

    @media (max-width: 1200px) {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    letter-spacing: 0.095em;
    transition: color 0.3s;

    @media (max-width: 1200px) {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}
