.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;

  &__svg {
    height: 80px;
    min-height: 80px;
    min-width: 80px;
    width: 80px;
    fill: #fff;
  }

  &__text-wrapper {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }

  &__big-text {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.025em;
  }

  &__text {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    letter-spacing: 0.095em;
  }
}
