.Header {
  position: relative;
  background-color: #0a3d87;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.1);
}

.HeaderWrapper {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Link {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.Hamburger {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  min-width: 35px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.HamburgerItem {
  display: block;
  width: 100%;
  height: 2px;
  margin: 3px 0;
  background-color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s,
    visibility 0.3s;
  transform-origin: 0 100%;
}
