.input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.25rem;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  outline: none;

  &::placeholder {
    font-family: Roboto, sans-serif;
    opacity: 50%;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:focus {
    &::placeholder {
      opacity: 0%;
      transform: translateX(100%);
    }
  }
}
