.header {
  position: relative;
  background-color: #000;
  box-shadow: 0 0 10px rgba(#000, 0.1);

  &__wrapper {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: 0 20px 0 0;
  }

  &__search {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 420px;
  }

  &__profile {
    margin-left: 10px;
  }
}
