.footer {
  padding: 20px 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    text-align: right;

    span:last-child {
      font-weight: 500;
      font-size: 1.2rem;
      color: #a38a17;
    }
  }
}
