.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    margin: 0 5px;

    &.active a {
      background: $black;
      color: #fff;
    }

    &.disabled {
      display: none;
    }
  }

  a {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid $black;
    color: #000;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background: $black;
      color: #fff;
    }
  }
}
