.Search {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 362px;
  height: 22px;
}

.Search button {
  position: absolute;
  right: 7px;
  top: 6px;
  background: url(../../../img/search.png) no-repeat center;
  background-size: contain;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
}
