@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1400px;
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  list-style: none;

  li {
    margin: 0 5px;

    &.active a {
      background: #0a3d87;
      color: #fff;
    }

    &.disabled {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 2px solid #0a3d87;
    border-radius: 4px;
    font-weight: bold;
    color: #000;
    transition: background .3s, color .3s;

    &:hover {
      background: #0a3d87;
      color: #fff;
    }
  }
}