* {
  box-sizing: border-box;
}

html {
  font-family: $roboto;
  font-size: 16px;
  line-height: 1.2;
  color: $black;
  background-color: $gray;

  @include max-width($desktop-sm) {
    font-size: 15px;
  }

  @include max-width($tablet) {
    font-size: 14px;
  }

  @include max-width($phone) {
    font-size: 13px;
  }
}

a,
button,
input[type="submit"] {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1350px;
}

.plyr-wrapper {
  margin: 20px 0;
}

.film-card-placeholder {
  margin: 10px;
  width: calc(25% - 20px);
  height: 470px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1024px) {
    width: calc(33.3333% - 20px);
  }

  @media (max-width: 900px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 600px) {
    width: calc(100% - 20px);
    height: 780px;
  }
}
