.logo {
  --color: #fff;
  --color-hover: #ffd700;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--color);
  transition: color ease-in 0.3s;

  &:hover {
    color: var(--color-hover);
  }

  &__svg {
    margin: 0 10px 0 0;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
    fill: currentColor;

    @media (max-width: 1200px) {
      height: 40px;
      min-height: 40px;
      min-width: 40px;
      width: 40px;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    color: currentColor;
  }

  &__big-text {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.025em;

    @media (max-width: 1200px) {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 21px;
    letter-spacing: 0.095em;

    @media (max-width: 1200px) {
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  &--black {
    --color: #000;
    --color-hover: #a38a17;
  }
}
